.col-lg{
	padding-bottom: 20px;
	padding-top: 15px;
}

.m1-1{
	text-align:center;
}

.m2-2{
	text-align: center;
}

.m3-3{
	text-align: center;
}

#dropdownMenuButton{
	margin-bottom: 180px;
}

h1{
	text-decoration: underline;
	font-size: 60px;
}

.bg-warning{
	background-image : url("images/johnwick.jpg");
	background-position: left top;
}

#genre{
	margin-right: 20px;
	font-size: 30px;
	margin-bottom: 140px;
	border-width: 3px;
	font-family: "Times New Roman", Times, serif;
	font-style: italic;
}