.bg-warning{
	background-image: url("images/godfather.jpg");
}

.card-img{
	max-width : 200px;
}

.card-text{
	font-family: "Trebuchet MS", Times, serif;
}

.subtext{
	font-family: Didot, serif;
}

#slide-img{
	max-width: 230px;
	max-height: 430px;
	margin-left: 150px;
}

#card-header{
	font-size: 30px;
}