.bg{
	background-image: url("images/gardenofwords.jpg");
	background-size: cover;
}

.card-img{
	max-width : 200px;
}

.card-text{
	font-family: "Trebuchet MS", Times, serif;
}

.subtext{
	font-family: Didot, serif;
}

#slide-img{
	max-width: 240px;
	max-height: 440px;
	margin-left: 150px;
}

#card-header{
	font-size: 30px;
}

.card-text{
	font-size: 18px;
}

#username-header
{
	position: absolute;
	top:10px;
	left:10px;
	font-size: 18px;
}