#header{
	text-align: center;
}

.bg{
	background-image : url("images/gradient1.jpg");
	background-size: cover;
}

.card-img{
	max-height: 290px;
	max-width: 200px;
}


#data-overview{
	font-size: 20px;
	margin-bottom: 20px;
}

#ratings{
	font-size: 20px;
	margin-bottom: 30px;
}