#header{
	text-align: center;
}

.bg{
	background-image : url("images/bg.jpg");
	background-size: cover;
}

.card-img{
	max-height: 250px;
	max-width: 180px;
}


#data-overview{
	font-size: 20px;
	margin-bottom: 20px;
}

#ratings{
	font-size: 20px;
	margin-bottom: 30px;
}