<!DOCTYPE html>

<html>
<head>
	<title> Sign Up ! </title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 	<script src="../static/js/bootstrap.min.js"> </script>
 	<link rel="stylesheet" type="text/css" href="../static/mycss/signup.css">
 	<script src="../static/myjs/myjs.js"> </script>
</head>

<body>
	{% if toast is not none %}
	<div id = "toast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay=2000>
		  <div class="toast-header">
		    <strong class="mr-auto">{{toast}}</strong>
	  	</div>
	</div>
	{% endif %}

	<div class = "bg">
		<div class = "container">
			<div class = "row" style = "text-align: center">
				<div class="col-lg">
			  		<span id = "moviefinder" class="badge badge-danger">Movie Finder</span>
			  	</div>
			</div>

			<nav class="navbar navbar-expand-lg navbar-light" style = "margin-bottom: 10px">
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
				    <ul class="navbar-nav">
				      <li class="nav-item active">
				        <a class="btn btn-warning"  href="{{ url_for('main') }}" style = "margin-right: 10px">Home</a>
				      </li>
				      <li class="nav-item">
				         <a href="{{url_for('discover')}}" class="btn btn-warning" role="button"  style = "margin-right: 10px">Suprise Me !</a>
				      </li>
				      <li class="nav-item">
				         <a href="#" class="btn btn-warning" role="button">About</a>
				      </li>
				    </ul>
				</div>
			</nav>

			<div class = "row justify-content-center" style = "text-align: center">
				
					<div class = "card bg-danger">	
						<form method = "POST" action = "{{url_for('main')}}">
						  <div class="form-group">
						    <span id = "form-component" for = "email" class="badge badge-dark">Enter Email</span> <br>
						    <input name="email" type="email" class="form-control" id="email" placeholder="Email">
						  </div> 

					 	<div class="form-group">
					      <span id = "form-component"  class = "badge badge-dark"> Enter Username </span>
					      <div class="input-group mb-2">
					        <div class="input-group-prepend">
					          <div class="input-group-text">@</div>
					        </div>
					        <input name="username" type="text" class="form-control" id="inlineFormInputGroup" placeholder="Enter username">
					      </div>
					    </div>

					    <div class="form-group">
							 <span id = "form-component" class = "badge badge-dark"> Enter Full Name </span>
						     <input name="name" type="text" class="form-control mb-2" id="inlineFormInput" placeholder="Enter name">				 
					 	</div>

						  <div class="form-group">
						    <span id = "form-component" for="password" class="badge badge-dark">Enter password</span>
						    <input name="password" type="password" class="form-control" id="password" placeholder="more than 8 characters">
						  </div>

						  <button type="submit" class="btn btn-success"> Submit </button>
						</form>
					</div>
				</div>
			</div>	
	</div>
</body>
</html>